<!-- <app-route></app-route> -->
    
<div id="body">
    <div>
<h2>&nbsp;&nbsp;HELP FOR FARMERS&nbsp;&nbsp;</h2><br/>

<hr/>
<p>
    <span class="glyphicon glyphicon-phone"> &nbsp;&nbsp;</span>
     Help line No: 1800 270 0224
    <br>
</p>
<hr/>
<p>
    <span>&nbsp;&nbsp;Fax&nbsp;&nbsp;</span>;
    +91-11-26862367
</p>
<hr/>
<p>
    <span class="glyphicon glyphicon-envelope"> &nbsp;&nbsp;</span>
    Email id- farmer@gmail.com 
    <br><br/>&nbsp;&nbsp;
    Office Time: 09:30 AM. to 06:00 PM.<br/>
</p>
<hr/>
</div>
</div>


