<!-- <app-route></app-route> -->
<div class="contain">
    <img  src="../../assets/homeImages/farmer(6).jpg" alt="farmer"  style="height:600px;width:1500px;">
    <div class="child content">

        <p>
            A farmer is a person engaged in agriculture, raising living organisms for food or raw materials.
           Agriculture plays a critical role in the entire life of a given economy. Agriculture is the backbone of the economic system of a given country. In addition to providing food and raw material, agriculture also provides employment opportunities to a very large percentage of the population
        </p>
        <p>
            Farmers have great importance in our society. They are the ones who provide us food to eat.Since every person needs proper food for their living, so they are a necessity in society.
There are different types of farmers. And they all have equal significance. First are the farmers who grow a crop like wheat, barley, rice, etc. Since the maximum intake in the Indian houses is of wheat and rice. So, the cultivation of wheat and rice is much in farming. Moreover, farmers who grow these crops are of prime importance. Second, are the ones who cultivate fruits. These farmers have to prepare the soil for different types of fruits. Because these fruits grow according to the season. Therefore the farmers need to have a great knowledge of fruits and crops. There are many other farmers who grow different other types. 
Furthermore, they all have to work very hard to get maximum harvesting.In addition to the farmers contribute almost 17% of the Indian economy. That is the maximum of all. But still, a farmer is deprived of every luxury of society.
            
        </p>
    </div>
</div>
<!-- <app-footer></app-footer> -->