<!-- <app-route></app-route> -->

<div class="contain">
    <h1 align="center">ABOUT US</h1>
   
    <img  src="../../assets/homeImages/farmer(6).jpg" alt="farmer"  style="height:600px;width:1500px;">
    <div class="child content">
     

        <p>
            A farmer is a person engaged in agriculture, raising living organisms for food or raw materials.
           Agriculture plays a critical role in the entire life of a given economy. Agriculture is the backbone of the economic system of a given country. In addition to providing food and raw material, agriculture also provides employment opportunities to a very large percentage of the population
        </p>
        <p>
            Farmers have great importance in our society.Furthermore, they all have to work very hard to get maximum harvesting.In addition to the farmers contribute almost 17% of the Indian economy. That is the maximum of all. But still, a farmer is deprived of every luxury of society.
            We create this application where farmer can sell their products with mazimum profit, easily access marketplace be aware of new Scheme's.
            
        </p>
    </div>
</div>
<!-- <app-footer></app-footer> -->